[2026-07-19 19:49:45] !!HUERFANO carpeta .worktrees/wp-m10-contrato sin registro en git worktree list
[2026-07-19 19:49:48] !!HUERFANO carpeta .worktrees/wp-m10-contrato sin registro en git worktree list
